<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247965598091-3c0poofn79ihemr0825ce6v6ekf39ogj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247965598091-3c0poofn79ihemr0825ce6v6ekf39ogj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>247965598091-0o04tgfpn4fcbpru035knj55hqba6s35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPcZvTxI-vixAw_mmKh_7TP3EiKikHdoU</string>
	<key>GCM_SENDER_ID</key>
	<string>247965598091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.piggy</string>
	<key>PROJECT_ID</key>
	<string>spendtax-9f171</string>
	<key>STORAGE_BUCKET</key>
	<string>spendtax-9f171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247965598091:ios:784ed182323ceb33af6f8e</string>
	<key>DATABASE_URL</key>
	<string>https://spendtax-9f171.firebaseio.com</string>
</dict>
</plist>